body {
  background-color: #141414;
  color: white;
}

.bg-dark-netflix {
  background-color: #141414;
}

#logo-navbar {
  width: 70px;
}

.navbar {
  padding-right: 30px;
}

footer {
  background-color: #141414;
  color: #808080;
}
p {
  font-size: 13px;
}
#copyright {
  font-size: 11px;
}

.service-code {
  border: 1px solid #808080;
  background-color: #141414;
  color: #808080;
  padding: 7px;
  cursor: pointer;
}

.spinner-border {
  width: 20px;
  height: 20px;
}

a {
  cursor: pointer;
}

.form {
  width: 50%;
}

.btn {
  border-radius: 0 !important;
}

.btn-secondary {
  background-color: #141414 !important;
}

nav {
  font-size: 14px;
}

#div-Icons div {
  border: 1px solid #808080;
  padding: 3px 10px;
  margin: 0;
  display: inline-block;
}
#div-Icons {
  color: #808080;
}
#row-icons {
  position: relative;
}

#edit-profile-title {
  border-bottom: 1px solid #dddddd;
}

h1 {
  font-size: 64.36px;
}

#strive-student {
  background-color: #666;
  color: white;
  padding: 0px;
  font-size: 25px;
  margin-right: 50px;
}

#language {
  color: white;
  font-size: 25px;
}
.m-bottom {
  border-bottom: 1px solid #dddddd;
}

#maturity-ratings {
  background-color: #333333;
  margin-right: 160px;
}
